@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-scrollbar-small::-webkit-scrollbar {
  width: 4px;
  background: gray;
}
.overflow-scrollbar-small::-webkit-scrollbar-thumb {
  background: #000;
}