@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playpen Sans', sans-serif;
}

.webkit-scroll-bar {
  overflow-y: scroll;
  overflow-x: scroll;
}

.webkit-scroll-bar::-webkit-scrollbar {
  width: 0px;
}

.webkit-scroll-bar::-webkit-scrollbar-thumb {
  width: 0px;
}

.overflow-y-small {
  overflow-y: auto;
}

.overflow-y-small::-webkit-scrollbar {
  width: 5px;
  background: #1f1f1f;
}

.overflow-y-small::-webkit-scrollbar-thumb {
  width: 4px;
  background: #6200EE;
}